$header-height: 8%;
$dashboard-page-bg-color: rgba(191, 35, 35, 0.5);
$side-menu-bg-color: rgba($color: #ffffff, $alpha: 1);
$header-bg-color: #fff;
$border-color: rgba(140, 140, 140, .5);

.side-menu  {
    padding-top: 5vh;
    width: 15%;
    height: 100%;
    float: left;
    background-color: $side-menu-bg-color;
    border-right: 1px solid $border-color;

        div {
            padding: 1em 0em 1em 1em;
            text-align: left !important;
            padding-bottom: .5em;
            cursor: pointer;
            width: 100%;
            display: flex;
            align-items: center;

            .side-menu-item {
                padding-left: 1em;
                text-align: left;
                color: #4284F3;
                font-weight: 700;
                text-transform: uppercase;

            }

            .awesome-icon {
                width: 1em;
                height: 1.5em;
                color: #fff;
                margin: auto 0;
            }

        &:hover {
            background-color: #fff;
            transition: background-color .2s ease-in-out;

            .side-menu-item {
                color: #7d7d7d;
            }

            .awesome-icon {
                color: #4284F3;
            }

        }
    }
    
}



.dashboard-header {
    width: 100%;
    height: $header-height;
}
.dashboard-content {
    width: 100%;
    height: 100vh;
    background-color: #e0e0e0;
    position: relative;
  }
  
  .dashboard-page {
    width: 85%;
    height: 100vh;
    float: left;
    padding-left: 6%;
    padding-right: 6%;
    background-image: url('./../../assets/bg-images/dashboard-page-bg.svg');
    background-repeat: no-repeat;
    overflow-y: auto;

    .username {
        padding-right: 1em;
        color: #144E2F;
    }
  }

  .summary-details {
    position: relative;
    margin-top: 2em;
    gap: 2em;
  }