.planWrapper {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}

.planWrapper.mobile {
  flex-direction: column;
}

.durationWrapper {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 1rem 0;
  background: var(--alabaster);
  border-radius: 0.5rem;
}

.durationWrapper span {
  font-weight: 500;
  color: var(--cool-gray);
}

.durationWrapper span.active {
  color: var(--marine-blue);
}

.planItem {
  border: 1px solid var(--light-gray);
  padding: 1rem;
  border-radius: 0.5rem;
  width: calc((100% - 2rem) / 3);
  cursor: pointer;
}

.planWrapper.mobile .planItem {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0.75rem;
}

.planItem.active {
  background: var(--magnolia);
  border-color: var(--purplish-blue);
}

.planItem:hover {
  background-color: var(--magnolia);
  border-color: var(--pastel-blue);
}

.planItem svg {
  margin-bottom: 2.5rem;
}

.planWrapper.mobile .planItem svg {
  margin-bottom: 0;
}

.planItem h2 {
  font-weight: 500;
  color: var(--marine-blue);
  margin-bottom: 0.5rem;
}

.planItem p {
  color: var(--cool-gray);
  margin-bottom: 0.5rem;
}

.planItem span {
  color: var(--marine-blue);
  font-weight: 500;
  font-size: 0.875rem;
}

.flexParent {
  display: flex;
  align-items: flex-end;
  flex: 1;
}

.buttonWrapper {
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: flex-end;
}

:global #back {
  background-color: var(--magnolia);
  color: var(--cool-gray);
}

:global #back:hover {
  color: var(--marine-blue);
}
