.sign-login-div {
    width: 500px;
    margin: auto !important;
    border: none;
    padding: 3em 3em;
    border-radius: 10px;
    background-color: rgba($color: #05371c, $alpha: .9);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
  }
  .sign-login-div input {
    padding: 3%;
    margin: auto;
    margin-top: 1%;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #FFFFFF;
    border-radius: 0%;
    color: white;
    font-weight: 600;
  }
  .sign-login-div input::placeholder {
    color: #FFFFFF;
  }
  .sign-login-div input:focus {
    outline: none;
    background-color: transparent;
    color: #fff;
    border: none;
  }