.sign-login-div {
    width: 500px;
    margin: auto !important;
    border: none;
    padding: 3em 3em;
    border-radius: 10px;
    background-color: rgba($color: #000201, $alpha: .6);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
  }

  .sign-login-div input {
    padding: 3%;
    margin: auto;
    margin-top: 1%;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #FFFFFF;
    border-radius: 0%;
    color: white;
    font-weight: 600;
  }

  .form-control:focus {
    background-color: blueviolet;
  }

  .sign-login-div input::placeholder {
    color: #FFFFFFEE;
  }

  .sign-login-div input:focus {
    outline: none;
    background-color: transparent;
    color: #fff;
    border: none;
  }

.credential-button {
  width: 100% !important;
  font-weight: 500;

}

.signup-button {
    margin-top: 7%;
    border: none;
    height: 50px;
    background-color: #DDDDDD;
    color: #144E2F;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    float: left;
    position: relative;
  }
  
  .signup-button:hover {
    background-color: #ffffff;
    color: black;
  }

  input:focus {
    border: none;
  }