.quick-details-content {
    width: 35vw;
    height: 45vh;
    border-radius: 10px;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    box-shadow: 5px 5px 3px rgba(0,0,0,0.5);
    background-repeat: no-repeat;
    padding: 1em;
    float: right;
    color: #fff;
    margin: auto;
}

.top-products-content {
    width: 35vw;
    height: 45vh;
    border-radius: 10px;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    background-repeat: no-repeat;
    padding: 1em;
    float: left;
    color: #fff;
}
h6 {
    text-align: left;
    padding: 10px 16px;
}
table {
    margin: 0.5em;
}

tr {
    width: 100%;
}

th {
    display: block;
    text-align: left;
    float: left;
    width: 35%;
    background-color: rgba($color: #000000, $alpha: .6);
}

td {
    display: block;
    margin-top: 20px;
    padding: 0.2em 0.2em;
    text-align: center;
    float: left;
    border-bottom: 1px solid #bbb;
    
    
}
td:first-child {
    padding-right: 160px;
    display: flex;
    align-items: center;
    
}

.click-for-more {
    padding: 12px 20px;
    border: none;
    width: 140px;
    background-color: transparent;
    color: #ffffff;
}
.click-for-more :hover {
    border-bottom: 1px solid #bbb;
    color: rgb(239, 175, 185);
}
