.quick-details-content {
    width: 35vw;
    height: 45vh;
    border-radius: 10px;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    box-shadow: 5px 5px 3px rgba(0,0,0,0.5);
    background-repeat: no-repeat;
    padding: 1em;
    float: right;
    color: #fff;
    margin: auto;
}

.top-products-content {
    width: 35vw;
    height: 45vh;
    border-radius: 10px;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    background-repeat: no-repeat;
    padding: 1em;
    float: left;
    color: #fff;
}

h6 {
    text-align: left;
    padding: 10px 16px;
}

table {
    width: 100%;
    margin: 0.5em;

    tr {
        width: 100%;
    }

    th {
        display: block;
        text-align: left;
        float: left;
        width: 30%;
        background-color: rgba($color: #000000, $alpha: .6);
    }

    td {
        width: 50%;
        margin-top: 0.5em;
        text-align: left;
        float: left;
        margin-bottom: 1em;
        border-bottom: 0.1em solid #bbb;
    }

}

.top-product-table {

    td {
        width: 30%;
        margin-top: 0.5em;
        text-align: left;
        float: left;
        margin-bottom: 1em;
        border-bottom: 0.1em solid #bbb;
    }
}


.click-for-more {
    padding: 12px 20px;
    border: none;
    width: 140px;
    background-color: transparent;
    color: #ffffff;
}
.click-for-more :hover {
    border-bottom: 1px solid #bbb;
    color: rgb(239, 175, 185);
}
