@import "bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap");
.App {
  background-image: url("./assets/bg-images/background-decoration.svg"),
    linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
  background-repeat: no-repeat;
  background-size: cover;
}

.home-contents {
  text-align: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans";
}

.welcome-message {
  display: flex;
  justify-content: center;
  background-color: #ececec;
  height: 84vh;
  width: 56vw;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}
.welcome-message-content {
  color: #707070;
  margin-top: 30px;
  width: 66%;
}
.welcome-message-h1 {
  padding-top: 38px;
}

.welcome-message-p {
  padding-top: 28px;
}
.welcome-message-buttons {
  padding-top: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.button {
  position: relative;
  font-size: 17px;
  text-decoration: none;
  padding: 0.4em 2.5em;
  display: inline-block;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  color: white;
  background: transparent linear-gradient(270deg, #cf2c62 0%, #2c57cf 100%) 0%
    0% no-repeat padding-box;
}
.button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.button::after {
  background-color: #fff;
}
.proudly {
  color: #1d2851;
  padding-top: 38px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.flag {
  height: 20px;
}
.contact-us {
  text-decoration: none;
  padding-left: 24px;
  color: #1d2851;
}
// .welcome-message h1 {
//   padding-top: 5%;
//   font-size: 3em;
//   font-weight: 900;
// }
// .welcome-message h3 {
//   padding-top: 2%;
//   font-weight: 700;
// }
// .welcome-message p {
//   padding: 3em 0;
//   text-align: left;
//   font-size: larger;
// }
// .welcome-message-footer {
//   margin: 10% 0 0 0;
// }
// .welcome-message-footer text {
//   margin: 0 3% 0 0;
// }
// .credentials-divs {
//   width: 100%;
// }
