@import "bootstrap/dist/css/bootstrap.css";

.App {
  text-align: center;
  height: 100vh;
  background-image: url('./assets/bg-images/Backgrounds-04-03.svg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}


a {
  color: rgb(10, 130, 52) !important;
  text-decoration: none !important;
  cursor: pointer;
}

/* credentials component css */


.button1 {
  margin-top: 7%;
  border: none;
  padding: 4%;
  width: 40%;
  background-color: #EFC90A;
  color: #144E2F;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  float: left;
  position: relative;
}

.button1 hover {
  background-color: #ffffff;
}

.button2 {
  margin-top: 7%;
  border: none;
  padding: 4%;
  width: 40%;
  background-color: #ffffff;
  color: #144E2F;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  float: right;
  position: relative;
}

.chart-background-colors {
  background-image: linear-gradient(-60deg, #1D8353 0%, #0F301B 100%);
  color: #fff;

}

.remember {
  float: left;
  position: relative;
  color: #FFFFFF;
  margin-top: 7%;
}

.forgot {
  float: right;
  position: relative;
  color: #FFFFFF;
  margin-top: 7%;
}