@import "bootstrap/dist/css/bootstrap.css";

.App {
  text-align: center;
  height: 100vh;
  background-image: url('./assets/bg-images/Backgrounds-04-03.svg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top :10%;
}


a {
  color: rgb(10, 130, 52) !important;
  text-decoration: none !important;
  cursor: pointer;
}

/* credentials component css */

.sign-login-div {
  width: 500px;
  margin: auto;
  border: none;
  padding: 3em 3em;
  border-radius: 10px;
  background-color: rgba($color: #05371c, $alpha: .9);
  box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}
.sign-login-div input {
  padding: 3%;
  margin: auto;
  margin-top: 7%;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #FFFFFF;
  border-radius: 0%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.sign-login-div input::placeholder {
  color: #FFFFFF;
}
.sign-login-div input:focus {
  outline: none;
}
.button1 {
  margin-top: 7%;
  border: none;
  padding: 4%;
  width: 40%;
  background-color: #EFC90A;
  color: #144E2F;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
  float: left;
  position: relative;
}
.button1 hover {
  background-color: #ffffff;
}
.button2 {
  margin-top: 7%;
  border: none;
  padding: 4%;
  width: 40%;
  background-color: #ffffff;
  color: #144E2F;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
  float: right;
  position: relative;
}

.chart-background-colors {
  background: linear-gradient(to bottom, #0e4d2b, #7dbb6a 50%, #3d8e4d);
  color: #fff;

}
.remember {
  float: left;
  position: relative;
  color: #FFFFFF;
  margin-top: 7%;
}
.forgot {
  float: right;
  position: relative;
  color: #FFFFFF;
  margin-top: 7%;
}

