@import "bootstrap/dist/css/bootstrap.css";

.App {
  text-align: center;
  height: 100vh;
  background-image: url('./assets/bg-images/Backgrounds-04-03.svg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}


a {
  color: rgb(10, 130, 52) !important;
  text-decoration: none !important;
  cursor: pointer;
}

/* credentials component css */

.chart-background-colors {
  background: rgba($color: #f6f6f6, $alpha: 1);;
  color: #fff;
  box-shadow: 3px 3px 8px rgba($color: #000000, $alpha: .3);
  border-radius:  5px;
  text-align: center;
  width: 100%;
  height: 30vh;

}

.remember {
  float: left;
  position: relative;
  color: #FFFFFF;
  margin-top: 7%;
}

.forgot {
  float: right;
  position: relative;
  color: #FFFFFF;
  margin-top: 7%;
}

.bottoms-spacing {
  height: 1em;
  width: 100%;
  clear: both;
}